.screen {
    position: relative;
    inset-block-start: 75px;
    margin-block-end: 100px;
    min-height: 100vh;
}

.mid_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block-start: 10px;
}

.upper_div {
    display: flex;
    padding-block-start: 10px;
    margin-inline-start: 20px;
}

.search {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_input {
    width: 75%;
    cursor: text;
    font-size: 15px;
    font-weight: 600;
    text-decoration: inherit;
    border: 1px solid #292929;
    border-radius: 15px;
    color: #ffffff;
    background-color: #1a1a1a;
    box-shadow: 0px 2px 2px #863333;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: 0.25s;
}

/* TODO */
/* Popup css */
.add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #b71c1c;
    transition: 0.5s;
    cursor: pointer;
}

.add_button:hover {
    color: #ffffff;
    background-color: #b71c1c;
    border-color: #ffffff;
}

.modal {
    background: var(--color-background);
    box-shadow: 0 0 15px var(--color-custom_red);
    min-width: 300px;
    min-height: 300px;
}

.modal .header {
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-block-end: 1px solid gray;
    margin-block-end: 5px;
    padding-block: 10px;
}

.modal .close {
    position: absolute;
    display: block;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 24px;
    line-height: 20px;
    color: var(--color-text);
    background: var(--color-custom_red);
    border: 2px solid #cfcece;
    border-radius: 18px;
    padding: 2px 5px;
}

.modal .actions {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    margin: auto;
}

.modal .content {
    padding: 10px 5px;
}

.input {
    border: none;
    border-block-end: 2px solid #A5A5A8;
    background: none;
    color: #3E6FA9;
    padding-inline-start: 24px;
    padding-block-end: 8px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    transition: .2s;
}

.row {
    display: flex;
    min-height: 100px;
}

.name_muscle {
    display: flex;
    flex-direction: row;
}

.drop_down {
    width: 200px;
}

.img_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_holder img {
    width: 100px;
    height: 100px;
    border: dashed;
    border-width: 1px;
    border-radius: 10px;
}

.input:active,
.input:focus,
.input:hover {
    outline: none;
    border-block-end-color: #4F6E95;
}

.submit_div {
    display: flex;
    justify-content: center;
}

.submit_div .submit {
    min-height: 25px;
    margin-block-start: 20px;
}
/* TODO */


/* Card css */
.exercise_card {
    width: 90%;
    border: 2px;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(183, 28, 28);
    margin-block-start: 5px;
    margin-inline-start: 5%;
}

.exercise_card a {
    width: 95%;
    text-decoration: none;
}

.done {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Exercise card CSS */
.card {
    height: 200px;
    border-width: 2px;
    border-radius: 20px;
    transition: 0.2s;
}

.card:hover {
    transition: 0.2s;
    box-shadow: 0px 2px 10px rgb(183, 28, 28);
}

.row {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.img_holder {
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 120px;
    height: 120px;
    object-fit: fill;
    border-radius: 10px;
}

.info {
    width: 60%;
    padding-block-start: 15px;
    padding-inline-start: 5px;
    color: #d1d1d1;
}

.name_muscle {
    display: flex;
}

.info h3 {
    margin: 0;
    padding: 0;
}

.info p {
    overflow-y: auto;
}

.info .title,
.info .muscle {
    padding: 5px;
    font-weight: 500;
    max-height: 100px;
    color: #3E6FA9;
    overflow: hidden;
    white-space: wrap;
    margin-block-end: 10px;
}

.info .muscle {
    margin-inline-start: 40px;
}

.description {
    width: 90%;
    height: 60%;
    color: #ffffff;
    border: 1px outset;
    border-radius: 10px;
    background-color: var(--color-background);
}

.description:hover {
    box-shadow: 0px 1px 3px rgb(183, 108, 28);
}

.column {
    width: 20%;
    padding-block-start: 10px;
}

.update_button {
    width: 121px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffffff;
    color: #b7761c;
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px #a5b71c;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.update_button:hover {
    color: #f1f1f1;
    background-color: #b76c1c;
}

.btn_holder {
    width: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 21px;
    transition: 0.4s;
}

.btn_holder button {
    width: 49%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border-color: #ffffff;
    color: #ffffff;
    background-color: var(--color-background);
    box-shadow: 0px 2px 5px #ffffff;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.submit:hover {
    color: #3ea952;
    background-color: #ffffff;
}

.cancel:hover {
    color: #b71c1c;
    background-color: #ffffff;
}

.delete_button {
    width: 121px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffffff;
    color: #b71c1c;
    background-color: var(--color-background);
    box-shadow: 0px 2px 5px #b71b1a;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 12px;
    transition: 0.5s;
}

.delete_button:hover {
    color: #f1f1f1;
    background-color: #b71c1c;
}