.screen {
    position: relative;
    inset-block-start: 75px;
    margin-block-end: 100px;
    min-height: 100vh;
}

.mid_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block-start: 10px;
}

.upper_div {
    display: flex;
    padding-block-start: 10px;
    margin-inline-start: 20px;
}

.search {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_input {
    width: 75%;
    cursor: text;
    font-size: 15px;
    font-weight: 600;
    text-decoration: inherit;
    border: 1px solid #292929;
    border-radius: 15px;
    color: #ffffff;
    background-color: #1a1a1a;
    box-shadow: 0px 2px 2px #863333;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: 0.25s;
}

.filter_div {
    width: 30%;
    margin-inline: 20px;
    display: flex;
    justify-content: center;
}

.filter {
    width: 80%;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    color: var(--color-custom_red);
    border: none;
    cursor: pointer;
    background-color: #292929;
}

.filter:active,
.filter:focus,
.filter:hover {
    outline: none;
}

.buttun_div {
    width: 30%;
    margin-inline: 20px;
    display: flex;
    justify-content: center;
}

/* Card css */
.exercise_card {
    width: 90%;
    border: 2px;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(183, 28, 28);
    margin-block-start: 5px;
    margin-inline-start: 5%;
}

.exercise_card a {
    width: 95%;
    text-decoration: none;
}

.done {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Exercise card CSS */
.card {
    height: 200px;
    border-width: 2px;
    border-radius: 20px;
    transition: 0.2s;
}

.card:hover {
    transition: 0.2s;
    box-shadow: 0px 2px 10px rgb(183, 28, 28);
}

.row {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.img_holder {
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 120px;
    height: 120px;
    object-fit: fill;
    border-radius: 10px;
}

.info {
    width: 60%;
    padding-block-start: 15px;
    padding-inline-start: 5px;
    color: #d1d1d1;
}

.name_muscle {
    display: flex;
}

.info h3 {
    margin: 0;
    padding: 0;
}

.info p {
    overflow-y: auto;
}

.info .title,
.info .muscle {
    padding: 5px;
    font-weight: 500;
    max-height: 100px;
    color: #3E6FA9;
    overflow: hidden;
    white-space: wrap;
    margin-block-end: 10px;
}

.info .muscle {
    margin-inline-start: 40px;
}

.description {
    width: 90%;
    height: 60%;
    color: #ffffff;
    border: 1px outset;
    border-radius: 10px;
    background-color: var(--color-background);
}

.description:hover {
    box-shadow: 0px 1px 3px rgb(183, 108, 28);
}

.column {
    width: 20%;
    padding-block-start: 10px;
}

.update_button {
    width: 121px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffffff;
    color: #b7761c;
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px #a5b71c;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.update_button:hover {
    color: #f1f1f1;
    background-color: #b76c1c;
}

.btn_holder {
    width: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 21px;
    transition: 0.4s;
}

.btn_holder button {
    width: 49%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border-color: #ffffff;
    color: #ffffff;
    background-color: var(--color-background);
    box-shadow: 0px 2px 5px #ffffff;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.cancel:hover {
    color: #b71c1c;
    background-color: #ffffff;
}

.delete_button {
    width: 121px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffffff;
    color: #b71c1c;
    background-color: var(--color-background);
    box-shadow: 0px 2px 5px #b71b1a;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 12px;
    transition: 0.5s;
}

.delete_button:hover {
    color: #f1f1f1;
    background-color: #b71c1c;
}