.screen {
    inset-block-start: 75px;
    display: flex;
    position: relative;
    margin-block-end: 100px;
    min-height: 100vh;
}

.mid_container {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.exercise_card {
    width: 90%;
    border: 2px;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(183, 28, 28);
    margin-block-start: 5px;
    margin-inline-start: 5%;
}

.exercise_card a {
    width: 95%;
    text-decoration: none;
}

.done {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Exercise card CSS */
.card {
    height: 180px;
    border-radius: 20px;
    transition: 0.2s;
}

.card:hover {
    transition: .2s;
    box-shadow: 0px 2px 12px rgb(183, 28, 28);
}

.row {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.img_holder {
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 10px;
}

.info {
    width: 60%;
    padding-block-start: 10px;
    padding-inline-start: 5px;
    color: rgb(209, 209, 209);
}

.name_muscle {
    display: flex;
}

.info h3 {
    margin: 0;
    padding: 0;
}

.info p {
    overflow-y: auto;
}

.info .muscle {
    font-weight: 500;
    max-height: 100px;
    white-space: wrap;
    overflow: hidden;
    margin-block-end: 10px;
    color: #3E6FA9;
    margin-inline-start: 40px;
}

.title {
    padding: 5px;
    font-weight: 500;
    max-height: 100px;
    white-space: wrap;
    overflow: hidden;
    margin-block-end: 10px;
    color: #3E6FA9;
}

.second_column {
    width: 15%;
    color: rgb(209, 209, 209);
}

.second_column p {
    padding: 3px;
    margin: 1px;
}

.update_button {
    width: 121px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: var(--color-background);
    border-color: white;
    color: rgb(183, 118, 28);
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgb(165, 183, 28);
    padding: 2px;
}

.update_button:hover {
    color: #f1f1f1;
    background-color: rgb(183, 108, 28);
}

.btn_holder {
    width: 121px;
    display: flex;
    justify-content: space-between;
    margin-block: 12px;
}

.desc_form {
    display: flex;
}

.description {
    width: 90%;
    height: 60%;
    border: 2px outset;
    border-color: #f0ffff;
    border-radius: 5px;
    background-color: var(--color-background);
    color: #ffffff;
}

.description:hover {
    box-shadow: 0px 2px 5px rgb(183, 108, 28);
}

.submit,
.cancel {
    width: 49%;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    color: #ffffff;
    background-color: var(--color-background);
    border-color: white;
    cursor: pointer;
}

.submit:hover {
    color: #3ea952;
    background-color: #ffffff;
}

.cancel:hover {
    color: #b71c1c;
    background-color: #ffffff;
}

.delete_button {
    width: 121px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: var(--color-background);
    border-color: white;
    color: #b71c1c;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgb(183, 28, 28);
    padding: 2px;
    margin-block: 12px
}

.delete_button:hover {
    color: #f1f1f1;
    background-color: rgb(183, 28, 28);
}