.screen {
    inset-block-start: 75px;
    display: flex;
    position: relative;
    margin-block-end: 100px;
    min-height: 100vh;
}

.mid_container {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.exercise_card {
    width: 90%;
    border: 2px;
    border-radius: 20px;
    border-style: outset;
    border-color: var(--color-foreground);
    margin-block-start: 5px;
    margin-inline-start: 5%;
}

.job_card a {
    width: 95%;
    text-decoration: none;
}

.done {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Exercise card CSS */
.card {
    height: 180px;
    border-radius: 20px;
    transition: 0.2s;
}

.card:hover {
    transition: .2s;
    box-shadow: 0px 2px 12px var(--color-foreground);
}

.row {
    width: 100%;
    padding-block-start: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.img_holder {
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 10px;
}

.info {
    width: 40%;
    padding-block-start: 5px;
    padding-inline-start: 25px;
    color: var(--color-button);
}

.title {
    padding: 5px;
    font-weight: 500;
    max-height: 100px;
    white-space: wrap;
    overflow: hidden;
    margin-block-end: 10px;
    color: var(--color-title);
}

.second_column {
    width: 35%;
    padding-block-start: 5px;
    color: var(--color-button);
}

.second_column p {
    padding: 3px;
    margin: 1px;
}

.salary {
    padding: 5px;
    font-weight: 500;
}

.menu_btn,
.close_btn {
    display: none;
}

.btn {
    color: var(--color-foreground);
    font-size: 20px;
    cursor: pointer;
    display: none;
}