.edit_button {
    background-color: #ffc107;
    color: #ffffff;
    margin-inline-end: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-inline-start: 5px;
}

.edit_button:hover {
    background-color: #e0a800;
}

.modal {
    font-size: 12px;
    box-shadow: 0 0 12px rgba(255, 0, 0, 1);
}

.modal .header {
    width: 100%;
    border-block-end: 1px solid gray;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.modal .content {
    width: 100%;
    padding: 10px 5px;
}

.modal .content .list {
    font-size: 15px;
}

.content .list li h4 {
    margin-block: 6px;
}

.modal .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.sub_form {
    width: 250px;
    margin-block-start: 15px;
    margin-inline-start: 10px;
}

.sub_form input {
    width: 60px;
    padding: 6px 12px;
    font-size: 12px;
}

.sub_form button {
    padding: 5px 10px;
    margin-inline-start: 10px;
}

/* workout progrmas styles */
.CompetitorCard {
    border-radius: 5px;
    margin: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CompetitorCardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 100%;
}

.info_container {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.CompetitorDescription {
    color: #777;
}