.screen {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--color-background);
    inset-block-start: 80px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
}

.content_div {
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-block-end: 16px;
}

.search_bar {
    width: 90%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-background);
    margin-block-end: 20px;
}

.search_input {
    width: 100%;
    padding: 10px;
    color: var(--color--foreground);
    background-color: var(--color-background);
    border: none;
    border-block-end: 1px dotted gray;
    margin-inline-start: 10px;
    transition: 0.2s;
}

.search_input:focus {
    outline: none;
    border-block-end: 2px solid gray;
    transition: 0.2s;
}

/* Table Styles */
.users_table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    margin-block-start: 20px;
}

.users_table th,
.users_table td {
    padding: 6px 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.users_table th {
    background-color: var(--color-background);
}

.users_table tr:nth-child(even) {
    background-color: var(--color-background);
}

.users_table tr:hover {
    background-color: var(--color-better_orange);
}

/* Action Buttons */
.delete_button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-inline: 5px;
    margin-block-start: 1px;
    background-color: #dc3545;
    color: #ffffff;
}

.delete_button:hover {
    background-color: #c82333;
}

.workout_button{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-inline: 5px;
    margin-block-start: 1px;
    background-color: #26ddda;
    color: #ffffff;
}

.workout_button:hover {
    background-color: #23c0c8;
}

.diet_button{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-inline: 5px;
    margin-block-start: 1px;
    background-color: #2f2525;
    color: #ffffff;
}

.diet_button:hover {
    background-color: #2f2a2a;
}

.pagination {
    text-align: center;
    margin-block-start: 10px;
}

.activePage {
    margin: 3px 3px;
    font-size: 1.2em;
    border-radius: 5px;
    color: var(--color-title);
    background-color: var(--color-better_orange);
}

.page {
    margin: 3px 3px;
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-button);
    border-color: var(--color-foreground);
}