.screen {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--color-background);
    inset-block-start: 80px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
}

.content_div {
    padding: 20px;
}

.content_div h1 {
    font-size: 24px;
    text-align: center;
    margin-block-end: 16px;
}

.search_bar {
    width: 90%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-background);
    margin-block-end: 20px;
}

.search_input {
    width: 100%;
    padding: 10px;
    color: var(--color--foreground);
    background-color: var(--color-background);
    border: none;
    border-block-end: 1px dotted gray;
    margin-inline-start: 10px;
    transition: 0.2s;
}

.search_input:focus {
    outline: none;
    border-block-end: 2px solid gray;
    transition: 0.2s;
}

/* Table Styles */
.users_table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    margin-block-start: 20px;
}

.users_table th,
.users_table td {
    padding: 6px 8px;
    text-align: left;
    border: 1px solid #dddddd;
}

.users_table th {
    background-color: var(--color-background);
}

.users_table tr {
    background-color: var(--color-background);
}

.users_table tr:hover {
    background-color: var(--color-custom_grey);
}

.pagination {
    text-align: center;
    margin-block-start: 10px;
}

.active_page {
    margin: 3px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ddd;
    color: var(--color-text);
    background: var(--color-custom_red);
}

.page {
    margin: 3px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ddd;
    color: var(--color-text);
    background: var(--color-custom_grey);
}

/* Action Buttons */
.delete_button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-inline: 3px;
    background-color: #dc3545;
    color: #ffffff;
}

.delete_button:hover {
    background-color: #c82333;
}

@media screen and (max-width: 970px) {
    .delete_button {
        margin-block: 2px;
    }
}