:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* OUR CSS */
/* Custom Themes */
.theme-light {
  --color-types: #393939;
  --color-available: #252a2f;
  --color-typeschecked: #676767;
  --color-title: #3E6FA9;
  --color-titles: #fdf8f8;
  --color-rating: #000000;
  --color-button: #000000;
  --color-addbutton: #5694e0;
  --color-Accept: rgb(0, 200, 0);
  --color-better_orange: rgb(228, 154, 17);
  --color-foreground: #3E6FA9;
  --color-background: #fafafa;
  --color-backgroundV2: #1f2023;
  --color-scrollbar-track: #eceded;
  --color-scrollbar-track2: #eceded;
  --color-scrollbar-thump: #d5d6d7;
  --color-navbar: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.theme-dark {
  --color-types: #d5d5d5;
  --color-available: #efefef;
  --color-typeschecked: #7e7e7e;
  --color-title: #0e4a94;
  --color-titles: #292929;
  --color-rating: #0e4a94;
  --color-button: #fafafa;
  --color-addbutton: #005ed1;
  --color-Accept: rgb(0, 100, 0);
  --color-better_orange: rgb(255, 166, 0);
  --color-foreground: #efefef;
  --color-background: #1f2023;
  --color-backgroundV2: #fafafa;
  --color-scrollbar-track: #242526;
  --color-scrollbar-track2: #3d4349;
  --color-scrollbar-thump: #3A3B3C;
  --color-navbar: linear-gradient(90deg, #0084B9, #A95D32, #1E3D59);
  color: var(--color-foreground);
  background-color: var(--color-background);
}