.add_button {
    width: 130px;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #b71c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.add_button:hover {
    color: #ffffff;
    background-color: #b71c1c;
    border-color: #ffffff;
}

.modal {
    margin: 0;
    padding: 0;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--color-background);
    box-shadow: 0 0 15px var(--color-custom_red);
}

.modal .header {
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-block-end: 1px solid gray;
    margin-block-end: 5px;
    padding-block: 10px;
}

.modal .close {
    position: absolute;
    display: block;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 24px;
    line-height: 20px;
    color: var(--color-text);
    background: var(--color-custom_red);
    border: 2px solid #cfcece;
    border-radius: 18px;
    padding: 2px 5px;
}

.modal .actions {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    margin: auto;
}

.modal .content {
    width: 100%;
    height: 100%;
}

.add_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.add_form .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.custom_input1 {
    width: 70%;
}

.custom_input2 {
    width: 40%;
}

.custom_input1,
.custom_input2 {
    font-size: 15px;
    font-weight: 600;
    border: none;
    background: none;
    color: var(--color-custom_red);
    border-block-end: 3px solid #A5A5A8;
    padding-inline: 5px;
    padding-block: 10px;
    margin-block: 10px;
    transition: 0.3s;
}

.custom_input1:active,
.custom_input1:focus,
.custom_input1:hover,
.custom_input2:active,
.custom_input2:focus,
.custom_input2:hover {
    outline: none;
    border-block-end-color: #4F6E95;
}

.img_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 10px;
}

.img_holder img {
    width: 100px;
    height: 100px;
    border: dashed;
    border-width: 1px;
    border-radius: 10px;
}

.submit_div {
    display: flex;
    justify-content: center;
}

.submit_div .submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--color-custom_red);
    padding: 5px 15px;
}

.submit:hover {
    color: #ffffff;
    background-color: #ff1a1a;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .add_form .container {
        flex-direction: column;
        width: 100%;
    }

    .custom_input1,
    .custom_input2 {
        width: 80%;
    }
}