.exerciseTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.DayTable {
    padding: 20px;
    position: relative;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tableTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #f9f9f9;
}

.exerciseTable th,
.exerciseTable td {
    border: 1px solid #b60000;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.exerciseTable th {
    background-color: #e02929;
    /* Header background color */
    color: #fff;
    /* White text for contrast */
}

.exerciseTable td {
    background-color: #333;
    color: #f5f5f5;
}

.exerciseTable tr:nth-child(even) td {
    background-color: #3f3d3d;
}

.exerciseTable tr:hover td {
    background-color: #3f3d3d;
}

.backButton {
    padding: 10px 20px;
    background-color: #e02929;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #b60000;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .exerciseTable th,
    .exerciseTable td {
        padding: 10px;
        font-size: 14px;
    }

    .tableTitle {
        font-size: 24px;
    }
}