#root {
  width: auto;
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* OUR CSS */
nav {
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

nav ul li a {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 10px;
  transition: 0.3s;
}

nav ul li a:hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 4px red;
  transition: 0.3s;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("./assets/hero.png");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .container {
  width: 100%;
  padding-inline: 50px;
}


#home .container .caption {
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#home .container .caption span {
  font-size: 90px;
  margin: 0;
  padding: 0;
}

#home .container .caption h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}


#training {
  background: black;
}

#training .container {
  width: 100%;
}

#training .container .row {
  display: flex;
}

#training .container .row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0px 15px;
}

#training .container .row .col .topic {
  position: relative;
  margin-block-end: 30px;
}

#training .container .row .col .topic::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.topic .topic-img {
  border-radius: 12px;
}

.topic .topic-img img {
  width: 100%;
}

.topic .topic-content-box {
  position: absolute;
  width: 100%;
  height: 100%;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-start: 0;
  inset-inline-end: 0;
  transition: 0.5s;
}

.topic .topic-content-box .topic-content {
  position: absolute;
  inset-block-start: 53%;
  transform: translateY(-47%);
  inset-inline-start: 0;
  inset-inline-end: 0;
  text-align: center;
}

.topic .topic-content-box .topic-content h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-block-end: 10px;
  transition: 0.4s;
}

.topic .topic-content-box .topic-content p {
  color: #ffffff;
  font-size: 15px;
  padding: 0 60px;
  line-height: 1.5;
  margin-block-end: 30px;
}

.topic .topic-content-box .topic-content .btn {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: none;
  border: 2px solid #fff;
  border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 43px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  transition: color 0.4s linear;
  overflow: hidden;
  margin: 0;
}

.topic .topic-content-box .topic-content .btn:hover {
  background: #ff1313;
  transition: 0.2s;
}

#gallery {
  background: black;
}

#gallery .container {
  width: 100%;
}

#gallery .container .row {
  display: flex;
}

#gallery .container .row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0px 15px;
}


#gallery .container .row .col .section-title h2 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  margin-block-end: 35px;
  -webkit-text-stroke: 1px #f6f7f8;
  -webkit-text-fill-color: transparent;
}

#gallery .container .row .col .box {
  transition: 0.6s;
  margin-block-end: 30px;
}

#gallery .container .row .col .box .icon {
  margin: 0 auto;
  margin-block-end: 30px;
}

#gallery .container .row .col .box .caption p {
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  transition: 0.4s;
  margin: 0;
}

#gallery .container .row .col .box .caption h5 a {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: 0.3s;
  margin-block-end: 15px;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}